<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550129971325-9antulcus1mo8cpsmkss0ni3ambm1md9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550129971325-9antulcus1mo8cpsmkss0ni3ambm1md9</string>
	<key>API_KEY</key>
	<string>AIzaSyAWMrYDAFmOhZVp4GQLcoyNHNXvvrTC-6w</string>
	<key>GCM_SENDER_ID</key>
	<string>550129971325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myt.flutterimagespicker</string>
	<key>PROJECT_ID</key>
	<string>flutterquotesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterquotesapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550129971325:ios:c79b3dcffd96b19d550114</string>
	<key>DATABASE_URL</key>
	<string>https://flutterquotesapp.firebaseio.com</string>
</dict>
</plist>